<%- include('partial-navbar.ejs') %>
<body>
    <h2>List of Books</h2>
    <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>author</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
        <tr>
          <td>6397f92a054050341296c633</td>
          <td>Pride And Prejudice</td>
          <td>Jane Austen</td>
          <td><button><a href ='edit/6397f92a054050341296c633'>Edit</a></button></td>
          <td><button onclick="if(confirm('Do you want to delete this book?')){document.location='/delete/6397f92a054050341296c633'}else{return false;};">Delete</button></td>
        </tr>
        <tr>
          <td>6397f953054050341296c634</td>
          <td>The Dragonet Prophecy</td>
          <td>Tui T. Sutherland</td>
          <td><button><a href ='edit/6397f953054050341296c634'>Edit</a></button></td>
          <td><button onclick="if(confirm('Do you want to delete this book?')){document.location='/delete/6397f953054050341296c634'}else{return false;};">Delete</button></td>
        </tr>
        <tr>
          <td>6398dda6092a00bfd9a92c84</td>
          <td>Norse Mythology</td>
          <td>Neil Gaiman</td>
          <td><button><a href ='edit/6398dda6092a00bfd9a92c84'>Edit</a></button></td>
          <td><button onclick="if(confirm('Do you want to delete this book?')){document.location='/delete/6398dda6092a00bfd9a92c84'}else{return false;};">Delete</button></td>
        </tr>
      </table>
</body>
</html>