<%- include('partial-navbar.ejs') %>
<body>
    <h2>Find books here</h2>
    <ul id="book_list" class="book_list">
        <li>
            <a href="books/6397f92a054050341296c633" target="_blank"><img src="../public/images/Pride-and-Prejudice-cover.jpg" alt="Book-1 Pride And Prejudice" width="200" height="300"/></a>
            <a href="books/6397f92a054050341296c633" target="_blank" class="book_titles">Pride And Prejudice</a>
        </li>
        <li>
            <a href="books/6397f953054050341296c634" target="_blank"><img src="../public/images/The-Dragonet-Prophecy.jpg" alt="Book-2 The Dragonet Prophecy" width="200" height="300"/></a>
            <a href="books/6397f953054050341296c634" target="_blank" class="book_titles">The Dragonet Prophecy</a>
        </li>
        <li>
            <a href="books/6398dda6092a00bfd9a92c84" target="_blank"><img src="../public/images/norse_mythology.jfif" alt="Book-3 Norse Mythology" width="200" height="300"/></a>
            <a href="books/6398dda6092a00bfd9a92c84" target="_blank" class="book_titles">Norse Mythology</a>
        </li>
    </ul>
</body>
</html>   