<!DOCTYPE html>
<html>
<head>
    <link href="../public/css/styles.css" type="text/css" rel="stylesheet" />
    <title>the_dragonet_prophecy.html</title>
</head>
<body>
    <!--<div id="navigation_bar" class="side_navigation_bar">
        <a href="index.html">Home Page</a>
        <a href="books.html">Books</a>
      </div>-->
      <%- include('partial-navbar.ejs') %>
    <h2 class="title_headers">The Dragonet Prophecy</h2>
    
    <h3 class="title_headers"> Description </h3> 
    <img class="images" style="padding-left: 210px" src="../public/images/The-Dragonet-Prophecy.jpg" alt="Book-1 The Dragonet Prophecy" width="380" height="460"/>
    <p class="book_description">A thrilling new series soars above the competition and redefines middle-grade fantasy fiction for a new generation!

        The seven dragon tribes have been at war for generations, locked in an endless battle over an ancient, lost treasure. A secret movement called the Talons of Peace is determined to bring an end to the fighting, with the help of a prophecy -- a foretelling that calls for great sacrifice.Five dragonets are collected to fulfill the prophecy, raised in a hidden cave and enlisted, against their will, to end the terrible war.But not every dragonet wants a destiny. And when the select five escape their underground captors to look for their original homes, what has been unleashed on the dragon world may be far more than the revolutionary planners intended. </p>
</body>
</html>