<%- include('partial-navbar.ejs') %>
<body class="edit-body">
<form action="/updated/6397f92a054050341296c633" method="POST">
    <p><b>Name: </b></p>
    <input type="text" name="name" required="required" placeholder="Pride And Prejudice"><br>
    <p><b>Author: </b></p>
    <input type="text" name="author" required="required" placeholder="Jane Austen">
    <p><b>Description: </b>
        <br>Pride and Prejudice is an 1813 novel of manners by Jane Austen. The novel follows the character development of Elizabeth Bennet, the dynamic protagonist of the book who learns about the repercussions of hasty judgments and comes to appreciate the difference between superficial goodness and actual goodness</p>
    <br>
    <button class="save-button" type="submit">Save</button>
</form>
<body>
</html>