<%- include('partial-navbar.ejs') %>
<form action="/books/6397f92a054050341296c633/update" method="POST">
    <h2>Title: </h2>
    <input type="text" name="title" size="50%" required="required" placeholder="Pride And Prejudice" />
    <p><b>Summary: </b><br>Pride and Prejudice is an 1813 novel of manners by Jane Austen. The novel follows the character development of Elizabeth Bennet, the dynamic protagonist of the book who learns about the repercussions of hasty judgments and comes to appreciate the difference between superficial goodness and actual goodness</p>
    <p><b>Author: </b></p><input type="text" name="author" size="50%" required="required" placeholder="Jane Austen"/>
    <hr>
    <button type="submit">Update</button>
</form>
</html>