<!-- <!DOCTYPE html>
<html>
<head>
    <link href="../public/css/styles.css" type="text/css" rel="stylesheet" />
    <title>index.html</title>
</head> -->
<%- include('partial-navbar.ejs') %>
<body>
    <!-- <div id="navigation_bar" class="side_navigation_bar">
        <a href="home">Home Page</a>
        <a href="booksList">Books</a>
      </div> -->
    <h1>Welcome to the homepage of Book-Forest</h1><hr>
    <h3>To browse books, click on the links in the navigation panel</h3>
    <h1>/\</h1>
</body>
</html>