<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/styles.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    </head>
    <div id="navigation_bar" class="side_navigation_bar" style="border:thin black"  >
        <a href="http://localhost:3000/home">Home Page</a>
        <a href="http://localhost:3000/booksList">Books</a>
    </div>