<!DOCTYPE html>
    <head>
        <link href="../public/css/styles.css" type="text/css" rel="stylesheet" />
        <title>index.html</title>
    </head>
    <div id="navigation_bar" class="side_navigation_bar">
        <a href="http://localhost:3000/home">Home Page</a>
        <a href="http://localhost:3000/booksList">Books</a>
        <a href="http://localhost:3000/admin">Admin</a>
    </div>